

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.new-navbar {
  width: 100%;
  /* other styles */
}

.slider-container {
  width: 100%;
  /* other styles */
}
